.env
venv313/

# removing csv because its being problematic
anime_data_cleaned.csv

# model training folders and files
pos_neg_map.json
anime-mpnet-triplet-finetuned/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
